<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Techmon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F630429D1F668FAB0072C697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F63042B41F668FAB0072C697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F63042BF1F668FAC0072C697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
